<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!--开启注解扫描，要扫描的是service-->
	<context:component-scan base-package="com.qcby"/>
	<!--构造方法实例化bean-->
	<bean id="bookDao" class="com.qcby.beancreate.BookDaoImpl"></bean>


	<!--生命周期-->
	<bean id="person" class="com.qcby.beancreate.lifeCycle.Person" scope="singleton"
		  init-method="myInit" destroy-method="myDestory">
		<property name="name" value="张三"></property>
		<property name="sex" value="男"></property>
	</bean>

	<bean class="com.qcby.beancreate.lifeCycle.MyBeanFactoryPostProcessor"></bean>
	<bean class="com.qcby.beancreate.lifeCycle.MyBeanPostProcessor" ></bean>
	<bean class="com.qcby.beancreate.lifeCycle.MyInstantiationAwareBeanPostProcessor"></bean>
</beans>

